@{
    ViewBag.Title = "Menu";
}

<p><h2>Menu:</h2></p>
<p>Indique la acción que desea realizar:</p>
<p>@Html.ActionLink("Leer archivo .CSV para crear jugadores", "LecturaArchivo")</p>
<p>@Html.ActionLink("Crear un Jugador", "Create")</p>
<p>@Html.ActionLink("Editar un Jugador", "EditRedirectioner")</p>
<p>@Html.ActionLink("Eliminar un Jugador", "DeleteRedirectioner")</p>
<p>@Html.ActionLink("Leer archivo .CSV para eliminar jugadores", "LecturaArchivoDelete")</p>
<p>@Html.ActionLink("Buscar un Jugador", "Search")<p>
